body{
    background: linear-gradient(90deg, #e9d8a6 50%, #94d2bd 50%);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2em;
    margin: 0%;
    font-size :3.2vw

     }
     h2{
         text-align: center;
         background-color: #0a9396;
         color: azure;


         box-shadow: 10px 10px 5px #d4a373;
 -moz-box-shadow: 10px 10px 5px #d4a373;
 -webkit-box-shadow: 10px 10px 5px #d4a373;
 -khtml-box-shadow: 10px 10px 5px #d4a373;

         margin: 20px;

         padding: 20px;
     }
     .content{
         display:grid;
           grid-template-columns: 1fr;

     }
     p{
         text-align: center;
         font-size: 1.2em;

         box-shadow: 10px 10px 5px #d4a373;
 -moz-box-shadow: 10px 10px 5px #d4a373;
 -webkit-box-shadow: 10px 10px 5px #d4a373;
 -khtml-box-shadow: 10px 10px 5px #d4a373;

     }
     .p1{

         margin: 40px;
         padding: 10px;
         color: azure;
         background: linear-gradient(-45deg, #e9d8a6 50%, #94d2bd 50%);

     }
     .p2{

         margin: 40px;
         padding: 10px;
         color: azure;
         background: linear-gradient(-90deg, #e9d8a6 50%, #94d2bd 50%);
     }
     a{
         color: azure;
     }

     .p3{
         text-align: center;
         font-size: 0.8em;
         background-color: #0a9396;
         color: azure;
         border-radius: 0px;
         padding: 15px;

     }
     .footer{
         position:absolute;
         bottom:0;
         width: 100%;
     }